.random-container {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

.low-value {
    color: green;
    font-weight: bold;
}

.high-value {
    color: red;
    font-weight: bold;
}
