<div class="list-container">
    <h2>List of people</h2>

    <div class="actions">
        <button class="add-button" routerLink="/add">Add person</button>
    </div>

    <div class="persons-list">
        @if (persons.length !== 0) {
        @for (person of persons; track person.id) {
        <div class="person-card">
            <div>
                <h3>{{ person.firstName }} {{ person.lastName }}</h3>
                @if (person.age) {
                <p class="age">Age: {{ person.age }}</p>
                }
                <div class="address">
                    @if (person.address.street || person.address.city || person.address.postCode) {
                    <p class="address-title">Address:</p>
                    @if (person.address.street) {
                    <p>{{ person.address.street }}</p>
                    }
                    @if (person.address.city || person.address.postCode) {
                    <p>
                        @if (person.address.postCode) {
                        {{ person.address.postCode }}
                        }
                        @if (person.address.city) {
                        {{ person.address.city }}
                        }
                    </p>
                    }
                    }
                </div>
            </div>
            <div class="person-actions">
                <button class="btn btn-primary" [routerLink]="['/details', person.id]">Details</button>
                <button class="btn btn-secondary" (click)="delete(person.id)">Delete</button>
            </div>
        </div>
        }
        }
    </div>
</div>