<div class="details-container">
    @if (person()) {
    <div class="person-details">
        <div class="details-card">
            <div class="personal-info">
                <div class="info-grid">
                    <div class="info-item">
                        <label>First Name:</label>
                        <span>{{ person()?.firstName || 'Not provided' }}</span>
                    </div>
                    <div class="info-item">
                        <label>Last Name:</label>
                        <span>{{ person()?.lastName || 'Not provided' }}</span>
                    </div>
                    <div class="info-item">
                        <label>Age:</label>
                        <span>{{ person()?.age ? person()?.age + ' years' : 'Not provided' }}</span>
                    </div>
                </div>
            </div>

            <div class="address-info">
                <h2>Address</h2>
                @if (person()?.address && (person()?.address?.street || person()?.address?.city ||
                person()?.address?.postCode)) {
                <div class="address-details">
                    @if (person()?.address?.street) {
                    <div>
                        <span>{{ person()?.address?.street }}</span>
                    </div>
                    }
                    @if (person()?.address?.postCode || person()?.address?.city) {
                    <div>
                        <span>
                            @if (person()?.address?.postCode) {
                            {{ person()?.address?.postCode }}
                            }
                            @if (person()?.address?.city) {
                            {{ person()?.address?.city }}
                            }
                        </span>
                    </div>
                    }
                </div>
                }
            </div>
        </div>

        <div class="action-buttons">
            <button class="btn btn-primary" (click)="goBack()">Back to list</button>
            <button class="btn btn-secondary" (click)="deletePerson()">Delete</button>
        </div>
    </div>
    }
</div>